{% extends "pages/page.html" %}

{% load mezzanine_tags %}

{% block main %}{{ block.super }}


    <h1>This is Legal Document form</h1>
    <div class="row">
        <div class="col-md-6">
            <form id="legal-document-form" method="post">
                {% csrf_token %}
                <div class="row">
                    <label>New field</label>
                    <input type="text" name="new_field"/>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <input type="submit" id="battery-order-btn" name="submit"
                               class="btn btn-success" value="Search"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h2>Search Result</h2>
            <p>we found {{ results|length }}</p> documents.
            <ul>
                {% for result in results %}
                <li>
                    {{ result.title }} - {{ result.code }} - {{ result.desc }} -- {{ result.issue }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>




{% endblock %}
