{% extends "pages/page.html" %}

{% load mezzanine_tags %}

{% block main %}{{ block.super }}


    <h1>This is default view for all legal document</h1>

    <h2>{{ page.legaldocument.title }}</h2>
    <p>{{ page.legaldocument.code }}</p>
    <p>{{ page.legaldocument.issue }}</p>

{% endblock %}
